---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

## Short courses

* [](https://www.youtube.com/watch?v=8EDJNRZtxZs&list=PL0CgMPgsgatX5rXQyJfyDRhyvIQRe0tmI) 
Three lectures (3 hs) (Oct 2021) **Semana de las Ciencias de Datos.** _Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires._

* [](https://www.youtube.com/watch?v=f_Npg6HNSn0&t=59s) Two lectures (8 hs) (Jul 2021) **Seminario Machine Learning.** _Instituto del Calculo, Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires._




## Mentoring

* Leo Zhang


## Lecturer

* Torcuato DiTella University
* University of San Andres

## (Lead) Teaching Assistant
* University of Buenos Aires

